:root {
  --color1: gold;
  --color2: rgba(24, 24, 24, 1.00);
  --color3: white;
  --colortrans: rgba(255, 255, 255, 0.4);
  --majorfont: serif;
  --thankfont: 'Yeseva One', cursive;
}
@keyframes thankyou {
  0% {
    transform: scale(0) rotate(0deg);
  }
  22% {
    transform: scale(1) rotate(-20deg);
  }
  40% {
    transform: scale(1)rotate(-20deg);
  }
  56% {
    transform: scale(0) rotate(0deg);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes record {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
a {
  text-decoration: none;
  color: var(--color1);
}
body {
  background-color: var(--color2);
  color: var(--color1);
}
h4 {
  font-size: 24pt;
  text-align: center;
}
p {
  color:white;
}
table {
  width:200px;
}
.contact {
  width: 80%;
  align-content: center;
  margin: 10px auto;
}
.grid {
  display: grid;
  width: 85%;
  margin: 10px auto;
  grid-template-columns: 100%;
  grid-gap: 10px;
}
.grid2 {
  display: grid;
  width: 85%;
  margin: 10px auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}
.grid div {
  background-color: rg-ba(255, 255, 255, 0.23);
}
.span-all-col{
  grid-column: span 2;
}

.span-row-2 {
  grid-row: span 2;
}
#about {
  opacity: 0.65;
  color: white;
}
#aboutp {
  text-align: justify;
  margin: 10px auto;
}
#bandimg {
  align-content: center;
  margin: 10px auto;
}
#bandimg img {
  margin: 30px auto;
  width: 100%;
  filter: grayscale(100%);
}
#bottomimage {
  opacity: 0.5;
  position: fixed;
  z-index: -1;
  float: right;
  bottom: 0px;
  right: 0px;
  height: 400px;
  width: 400px;
}
#footer {
  text-align: center;
}
#media {
  padding: 15px;
  align-content: center;
}
#nav {
  font-size: 20pt;
  text-align: center;
}
#news {
  padding: 5px;
  border-radius: 15px;
  background-color: var(--colortrans)
}
#news2 {
  display: none;
  text-align: center;
}
#placeholder {
  margin: 10px auto;
  height: 100px;
  width: 170px%;
  background-color: green;
}
#placeholder iframe {
  box-shadow: 5px 5px rgba(0, 0, 0, 0.125)
}
#record {
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 600px;
  width: 600px;
  margin-top: -300px;
  margin-left: -300px;
}
#record h3 {
  font-size: 18pt;
  padding-top: 15px;
  text-align: center;
  color: gray;
}
#record img {
  animation-name: record;
  animation-duration: 4s;
  opacity: 0.4;
  height: 600px;
  width: 600px;
}
#sidetext {
  grid-row: span 2;
  display: none;
  color: white;
}
#sidetext p {
  transform: rotate(270deg);
}
#survey {
    text-align: center;
    font-size: 18pt;
}
#table {
  margin: 10px auto;
  width: 500px;
}
#table table {
  padding: 5px;
}
#table td {
  padding: 5px;
  color: white;
}
#thankyou {
  animation-name: thankyou;
  animation-duration: 5s;
  text-align: center;
  height: 150px;
  width: 700px;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 70pt;
  color: white;
  margin-left: -350px;
  margin-top: -75px;
  font-family: var(--thankfont);
}
#xxrxx {
  height: 75px;
  width: 80%;
  margin: 10px auto;
  align-content: center;
  justify-content: center;
  text-align: center;

  color: var(--color2);
  border-radius: 15px;
  background-color: var(--color1);

  font-size: 48pt;
}

/*
-
= DIVIDER FOR TABLETS
-
*/

@media screen and (min-width: 600px) {
  table {
    width: 400px;
  }
  .grid {
    grid-template-columns: 15% 85%;
  }
  .grid2 {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .span-all-col {
    grid-column: span 2;
  }
  #iphonefixer {
    display: none;
  }
  #footer {
    padding-top: 10px;
  }
  #nav {
    font-size: 23pt;
  }
  #placeholder {
    padding: 15px;
    border-radius: 15px;
    background-color: var(--colortrans);
    width: 410px;
    height: 235px;
  }
  #placeholder iframe{
    width: 410px;
    height: 235px;
  }
  #sidetext {
    display: inline;
    font-size: 50px;
    padding-top: 100px;
    opacity: 0.5;
  }
  #side2 {
    margin-top: 480px;
    display: run-in;
  }
  #xxrxx {
    width: 85%;
    margin: 10px auto;
  }
}


/*
-
= DIVIDER FOR PC
-
*/

@media screen and (min-width: 1200px) {
  h4 {
    font-size: 38pt;
    text-align: center;
  }
  p {
    max-width: 800px;
  }
  .grid {
    grid-template-columns: 10% auto 25%;
  }
  .grid2 {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .span-all-col {
    grid-column: span 3;
  }
  #nav {
    font-size: 33pt;
  }
  #news2 {
    display: inline;
    color: white;
    font-size: 40pt;
    text-align: center;
  }
  #placeholder {
    padding: 16px;
    width: 725px;
    height: 485px;
    border-radius: 15px;
    background-color: var(--colortrans)
  }
  #placeholder iframe {
    width: 720px;
    height: 480px;
  }
  #sidetext {
    grid-row: span 1;
    padding-top: 200px;
    font-size: 72px;
    opacity: 0.5;
  }
  #side2 {
    display: none;
  }
  #xxrxx {
    background-color: rgba(0,0,0,0);
    max-width: 1400px;
    color: var(--color1);
    border-bottom: solid var(--color1) 5px;
    border-radius: 0px;
    font-size: 62pt;
    font-weight: bolder;
    margin: 10px auto;
    height: 95px;
  }
}
