:root {
  --color1: gold;
  --color2: black;
  --majorfont: serif;
}

a {
  text-decoration: none;
  color: var(--color1);
}
body {
  background-color: var(--color2);
  color: var(--color1);
}
h4 {
  font-size: 38pt;
  text-align: center;

}
p {
  color:white;
}
.contact {
  width: 80%;
  align-content: center;
  margin: 10px auto;
}
.grid {
  display: grid;
  width: 85%;
  margin: 10px auto;
  grid-template-columns: 100%;
  grid-gap: 10px;
}
.grid div {
  background-color: rg-ba(255, 255, 255, 0.23);
}
.span-all-col{
  grid-column: span 2;
}

.span-row-2 {
  grid-row: span 2;
}
#bottomimage {
  opacity: 0.5;
  position: fixed;
  z-index: -1;
  float: right;
  bottom: 0px;
  right: 0px;
  height: 400px;
  width: 400px;
}
#footer {
  text-align: center;
}
#media {
  padding: 15px;
  align-content: center;
}
#nav {
  font-size: 20pt;
  text-align: center;
}
#news {
  padding: 5px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.4)
}
#news2 {
  display: none;
}
#placeholder {
  margin: 10px auto;
  height: 100px;
  width: 170px%;
  background-color: green;
}
#sidetext {
  grid-row: span 2;
  display: none;
  color: white;
}
#sidetext p {
  transform: rotate(270deg);
}
#survey {
    text-align: center;
    font-size: 18pt;
}
#table {
  margin: 10px auto;
  width: 500px;
}
#table table {
  padding: 5px;
}
#table td {
  padding: 5px;
  color: white;
}
#xxrxx {
  height: 75px;
  width: 80%;
  margin: 10px auto;
  align-content: center;
  justify-content: center;
  text-align: center;

  color: var(--color2);
  border-radius: 15px;
  background-color: var(--color1);

  font-size: 48pt;
}

/*
-
= DIVIDER FOR TABLETS
-
*/

@media screen and (min-width: 600px) {
  .grid {
    grid-template-columns: 15% 85%;
  }
  .span-all-col {
    grid-column: span 2;
  }
  #iphonefixer {
    display: none;
  }
  #footer {
    padding-top: 10px;
  }
  #nav {
    font-size: 23pt;
  }
  #placeholder {
    padding: 15px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.4);
    width: 410px;
    height: 235px;
  }
  #placeholder iframe{
    width: 410px;
    height: 235px;
  }
  #sidetext {
    display: inline;
    font-size: 50px;
    padding-top: 100px;
    opacity: 0.5;
  }
  #side2 {
    margin-top: 230px;
    display: run-in;
  }
  #xxrxx {
    width: 85%;
    margin: 10px auto;
  }
}


/*
-
= DIVIDER FOR PC
-
*/

@media screen and (min-width: 1200px) {
  p {
    max-width: 800px;
  }
  .grid {
    grid-template-columns: 10% auto 25%;
  }
  .span-all-col {
    grid-column: span 3;
  }
  #nav {
    font-size: 33pt;
  }
  #news2 {
    display: inline;
    color: white;
    font-size: 40pt;
    text-align: center;
  }
  #placeholder {
    padding: 16px;
    width: 725px;
    height: 485px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.4)
  }
  #placeholder iframe {
    width: 720px;
    height: 480px;
  }
  #sidetext {
    grid-row: span 1;
    padding-top: 200px;
    font-size: 72px;
    opacity: 0.5;
  }
  #side2 {
    display: none;
  }
  #xxrxx {
    background-color: rgba(0,0,0,0);
    max-width: 1400px;
    color: var(--color1);
    border-bottom: solid var(--color1) 5px;
    border-radius: 0px;
    font-size: 62pt;
    font-weight: bolder;
    margin: 10px auto;
    height: 95px;
  }
}
